//
//  Test.xcconfig
//  TreeTracker
//
//  Created by Alex Cornforth on 26/01/2021.
//  Copyright © 2021 Greenstand. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ENVIRONMENT = TEST

AWSS3_BUCKET_NAME_IMAGE_UPLOAD = treetracker-test-images
AWSS3_BUCKET_NAME_BUNDLE_UPLOAD = treetracker-test-batch-uploads
AWS_REGION_STRING = eu-central-1

DEFAULT_TREE_PHOTO_QUALITY = MEDIUM

TREE_PHOTO_SIZE_LOW = 500
TREE_PHOTO_SIZE_MEDIUM = 750
TREE_PHOTO_SIZE_HIGH = 1000

TREE_PHOTO_COMPRESSION_LOW = 1.0
TREE_PHOTO_COMPRESSION_MEDIUM = 1.0
TREE_PHOTO_COMPRESSION_HIGH = 1.0
